@import "./theme.less";

* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    height: 100%;
    background-color: var(--background);
    color: var(--font-color);
}

#app {
    transition: all 0.3s ease-in-out;
    padding: 30px 10%;
    box-sizing: border-box;
}
