@import "./theme.less";

* {
    margin: 0;
    padding: 0;
    font-family:
        "Source Serif Pro",
        "Noto Serif SC",
        -apple-system,
        "SF UI Text",
        "PingFang SC",
        "Microsoft YaHei",
        "WenQuanYi Micro Hei",
        sans-serif;
}

html,
body,
#app {
    height: 100%;
    background-color: var(--background);
    color: var(--font-color);
}

#app {
    transition: all 0.3s ease-in-out;
    padding: 30px 10%;
    box-sizing: border-box;
    overflow-y: auto;
}

.el-loading-mask {
    border-radius: var(--border-radius);
    background-color: var(--mask-color) !important;
    backdrop-filter: var(--backdrop-filter-blur);
}

/* 滚动条 */
.scrollBar::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}

.scrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #868686;
}

.scrollBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

:root {
    --el-text-color-regular: var(--font-color) !important;
    --el-fill-color-blank: var(--background-light) !important;
    --el-border-color: var(--background) !important;
    --el-bg-color-overlay: var(--background-light) !important;
    --el-fill-color-light: var(--hover-background) !important;
    --el-fill-color: var(--background-light) !important;
    --el-text-color-primary: var(--font-color) !important;
    --el-border-color-light: var(--border-color) !important;
}

input {
    border: none;
    background-color: var(--background);
    color: var(--font-color);
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    outline: none;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;

    &:focus {
        border: 1px solid var(--theme-color);
    }
}

.el-popper {
    color: black !important;
    background-color: white !important;
    border: 1px solid var(--border-color) !important;
}

.el-popper__arrow:before {
    background-color: white !important;
    border: 1px solid var(--border-color) !important;
}
